
body {
    margin: 0 1rem;
}

header nav{ 
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    box-sizing: border-box;
    width: 100%;
    z-index: 1000;

    background-color: rgb(255, 255, 255);
}

#accueil {
    padding-top: 2rem;
}
#accueil >.grid >div >img {
    border-radius: 50%;
    width: 45%;
    height:200
}
.image{
    justify-content: center;
    align-self: center;
    display: flex; 
}
.titre{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#about {
    padding-bottom: 4rem;
}

#competences {
    padding-bottom: 4rem;
}

#competences >div {
padding-bottom: 2rem;
}
#competences >.grid {
    gap: 2rem;
}








#accueil{
    padding: 50px;
}