
body {
    padding:  0 4vw 2rem 4vw;
    background-color: white;
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:justify;
}

header {background-color: rgb(255, 255, 255); position: fixed; width:92vw; z-index:1000}

header >.navbar{ 
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    box-sizing: border-box;
    width: 95%;
    z-index: 1000;

    background-color: rgb(255, 255, 255);
}

#accueil {
    padding-top: 2rem;
    
    background-color: rgba(128, 128, 128, 0.276);
}
#accueil >.grid >div >img {
    border-radius: 50%;
    width: 45%;
    height:200
}
.image{
    justify-content: center;
    align-self: center;
    display: flex; 
}
#accueil >.grid >.titre{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#about {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

#competences {
    padding-bottom: 4rem;
}

#competences >div {
padding-bottom: 2rem;
}
#competences >.grid {
    gap: 2rem;
}

#accueil{
    padding: 50px;
}

#projet >.grid >.text {
    display: flex;
    align-items: center;
}

#contact {
    background-color: rgba(32, 32, 78, 0.4);
}

#contact >form {
    max-width: 400px;
    margin: auto;
    
}

#contact .labels { /* label l'un à cote de l'autre */
    display: flex;
    justify-content:space-between;
    margin-bottom: 2rem;
    gap: 3rem;
}
